@import url('https://fonts.googleapis.com/css?family=Nunito');

$orange-bassan = #f0c180
$orange-bassan-accessible-white-bg = #A66914
$pure-white = #ffffff

fs(min, max)
  "calc(%spx + (%s - %s) * (100vw - 300px) / (1400 - 300))" % (min max min)

body, html
  font-size fs(16, 18)
  font-weight 400
  font-family Nunito, sans-serif

h2, h3
  padding 2rem

.logo-h1
  letter-spacing 10px
  font-size fs(40, 120)

.logo-p
  margin-top -1em
  margin-bottom -2.5em
  font-size fs(20, 35)

h1
  font-size fs(35, 60)

h2
  font-size fs(30, 40)

h3
  font-size fs(25, 35)

.has-section-margin
  margin-top 4.5rem

.has-border-bottom
  border-bottom solid 1px #ccc

.has-border-top
  border-top solid 1px #ccc

.has-background-bassan
  background-color #FEFBF0

.is-rounded
  border-radius 50%

.content
  > blockquote
    margin-top 1rem

a
  color #2E71DB
  transition border 0.4s ease-in-out
  &:focus
    outline $orange-bassan-accessible-white-bg auto 5px

  &.navbar-item
    color #545454

    &:hover
      color $orange-bassan-accessible-white-bg

    &.is-active
      border-top 4px solid $orange-bassan
      margin-top -2px
      font-weight 800

.has-padding-bottom
  padding-bottom 0.5rem

.has-2x-padding-top
  padding-top 1.5rem

.has-4x-padding-top
  padding-top 3rem

.has-8x-padding-top
  padding-top 6rem

.has-padding-top
  padding-top 0.5rem

.has-margin-top
  padding-top 0.5rem

.has-negative-margin-top-8
  margin-top -8em

.has-negative-margin-top-3
  margin-top -3em

.is-columns-v-centered
  display flex
  align-items center

.is-column-h-centered
  display flex
  justify-content center

.is-mx-auto
  margin auto

.content
  > p
    font-size 0.8rem;

.card-footer
  > a
    font-size 0.8rem;

.button
  &:focus
    border-color transparent

  &.is-bassan
    border-color $orange-bassan-accessible-white-bg
    color $orange-bassan-accessible-white-bg
    border-left transparent
    border-right transparent
    border-radius 0
    margin-left 0.5rem
    margin-right 0.5rem
    transition all 0.5s ease-in-out

    &.is-selected
      border-left 1px solid $orange-bassan-accessible-white-bg
      border-right 1px solid $orange-bassan-accessible-white-bg
      background-color $orange-bassan
      color #545454
      font-weight 800
      box-shadow none

      &.is-rounded
        border-radius 4px
        background-color transparent

        &:hover
          background-color $orange-bassan-accessible-white-bg
          color $pure-white

    &:focus
      border-color transparent
      box-shadow 0 0 0 0.125em rgba(darken($orange-bassan, 60%), 0.75)

    &:hover
      background-color darken($orange-bassan, 5%)
      color #505050
