@import url('https://fonts.googleapis.com/css?family=Nunito')
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')
@import 'colors'
@import 'buttons'
@import 'slider'
@import 'image'

fs(min, max)
  'calc(%spx + (%s - %s) * (100vw - 300px) / (1400 - 300))' % (min max min)

body, html
  font-weight 400
  font-size fs(16, 18)
  font-family Nunito, sans-serif

h2, h3
  padding 2rem

.logo-h1
  letter-spacing 10px
  font-size fs(40, 120)

.logo-p
  margin-top -1em
  margin-bottom -2.5em
  font-size fs(20, 35)

h1
  font-size fs(35, 60)

h2
  font-size fs(30, 40)

h3
  font-size fs(25, 35)

.has-section-margin
  margin-top 4.5rem

.has-border-bottom
  border-bottom solid 1px #ccc

.has-border-top
  border-top solid 1px #ccc

.has-background-bassan
  background-color #FEFBF0

.is-rounded
  border-radius 50%

.content
  > blockquote
    margin-top 1rem

a
  color #2E71DB
  transition border .4s ease-in-out

  &:focus
    outline $orange-bassan-accessible-white-bg auto 5px

  &.navbar-item
    color #545454

    &:hover
      color $orange-bassan-accessible-white-bg

    &.is-active
      margin-top -2px
      border-top 4px solid $orange-bassan
      font-weight 800

.has-padding-bottom
  padding-bottom .5rem

.has-2x-padding-top
  padding-top 1.5rem

.has-4x-padding-top
  padding-top 3rem

.has-8x-padding-top
  padding-top 6rem

.has-padding-top
  padding-top .5rem

.has-margin-top
  padding-top .5rem

.has-negative-margin-top-8
  margin-top -8em

.has-negative-margin-top-3
  margin-top -3em

.is-column-v-centered
  display flex
  align-items center

.is-column-h-centered
  display flex
  justify-content center

.is-column-pulled-right
  display flex
  justify-content flex-end

.is-column-pulled-left
  display flex
  justify-content flex-start

.is-mx-auto
  margin auto

.content
  > p
    font-size .8rem

.card-footer
  > a
    font-size .8rem
